
android-app/android/.idea/codeStyles/Project.xml
android-app/android/.idea/caches/build_file_checksums.ser
android-app/android/.idea/compiler.xml
android-app/android/.idea/copyright/profiles_settings.xml
